flows/Run_QualityClouds_Scan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>doScan</name>
        <label>doScan</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>Run_QualityClouds_Scan_Page_Controller</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userStory</name>
            <value>
                <elementReference>varRuserStory</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>setAutomatic</name>
        <label>setAutomatic</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varRuserStory.copado__Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>automatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>doScan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUserStory</name>
        <label>setUserStory</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>varRuserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRpriorUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>executeScan</name>
        <label>executeScan</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ScanCommit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRuserStory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRuserStory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRpriorUserStory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAutomatic</targetReference>
            </connector>
            <label>ScanCommit</label>
        </rules>
    </decisions>
    <description>Run Run QualityClouds Scan Apex class after every commit and tells if it&apos;s automatic</description>
    <environments>Default</environments>
    <interviewLabel>Run QualityClouds Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run QualityClouds Scan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setUserStory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>executeScan</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varRpriorUserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>varRuserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
